main {
  margin-top: 0px;
  position: relative;
}

header {
  padding: 50px;
}

h1 {
  color: white;
  font-size: 70px;
  line-height: 100px;
  height: 100px;
  width: 500px;
  margin: auto;
  text-align: center;
  background-color: #212121;
  position: relative;
  display: block;
}

content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 94%;
  height: calc(100% - 200px);
  padding: 3%;
}

content block {
  background-color: #e9e6e6;
  width: 48%;
  height: auto;
  margin-bottom: 2%;
}

content block:nth-child(3n) {
  width: 100%;
}

content block top {
  width: 100%;
  height: 40px;
  background-color: #171717;
  color: white;
  display: block;
}

content block block-main {
  height: auto;
  width: 100%;
  display: block;
  overflow: auto;
}

content block block-main table {
  width: 98%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

.table-loader {
  width: calc(100% - 5px);
  height: 14px;
  border-radius: 3px;
  animation-duration: 2.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #d9d9d9;
  background: linear-gradient(to right, #d9d9d9 8%, #ededed 38%, #d9d9d9 54%);
  display: inline-block;
  min-width: 15px;
  background-size: 1000px 640px;
}

content block top p {
  margin: 0px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
}

@media only screen and (max-width: 900px) {
  content block {
    width: 100%;
  }
}

@keyframes shine-lines-table {
  0% {
	opacity:0.4;
  }
  40%{
	opacity:0.8;
  }
  100% {
	opacity:0.4;
  }
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -600px 0
    }
    100%{
        background-position: 468px 0
    }
}

.table-label {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}