main {
    margin-top: 0px;
    position: relative;
  }
  
  header {
    padding: 50px;
    text-align: center;
  }
  
  h1 {
    color: white;
    font-size: 50px;
    line-height: 100px;
    margin: auto;
    text-align: center;
    background-color: #212121;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }

@media (max-width:600px){
    h1 {
      width: 80%;
      font-size: 30px;
      height: 80px;
      line-height: 80px
    }
}
  
  results {
    width: 80%;
    display: block;
    height: auto;
    background-color: #f5f3f3;
    padding: 10%;
    position: relative;
    min-height: 200px;
    z-index: 1;
    padding-top: 50px;
  }

results h2 {
  text-align: center;
}
  
  results table {
    width: 100%;
    margin: 0px;
    border-spacing: 0px;
  }
  
  .pageCntrl {
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    width: auto;
    display: inline-block;
    float: right;
  }
  
  .pageCntrl button {
    border: none;
    border-right: 1px solid black;
    border-radius: 0px;
    height: 20px;
    width: auto;
    cursor: pointer;
    background-color: #f5f3f3;
  }
  
  .pageCntrl button.page {
    color: #0000EE;
  }
  
  .pageCntrl button.page:disabled {
    color: #2c2c68;
    text-decoration: underline;
    cursor: default;
  }
  
  .pageCntrl button.arrow:disabled {
    color: #999999;
    cursor: default;
  }
  
  #fader {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 222px;
    left: 10%;
    width: 80%;
    height: calc(85% - 222px);
    margin: auto;
    z-index: 20;
  }

selector {
  display: block;
  text-align: center;
  margin-top: 20px;
}

selector select {
  padding: 3px;
  border-radius: 10px;
  border-width: 2px;
}

selector select:focus {
  border-color: #3399FF;
  outline: none;
}

selector label {
  font-weight: bold;
}

@keyframes shine-lines-table {
  0% {
	opacity:0.4;
  }
  40%{
	opacity:0.8;
  }
  100% {
	opacity:0.4;
  }
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -600px 0
    }
    100%{
        background-position: 468px 0
    }
}

.table-loader {
  width: calc(100% - 5px);
  height: 20px;
  border-radius: 3px;
  animation-duration: 2.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #d9d9d9;
  background: linear-gradient(to right, #d9d9d9 8%, #ededed 38%, #d9d9d9 54%);
  display: inline-block;
  min-width: 15px;
  background-size: 1000px 640px;
}

.red {
  background-color: #fd9696;
}
.blue {
  background-color: #acacfb;
}

.blue a, .red a {
  color: #1e00ff;
}

tr:nth-child(even) .blue{
  background-color: #8686f9 !important;
}

tr:nth-child(even) .red{
  background-color: #f56b6b !important;
}