body {
  width: 100%;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #f5f3f3;
}

  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

nav {
  background-color: white;
  width: 100%;
  height: 50px;
  color: black;
  border-bottom: 2px solid grey;
}

main {
  min-height: calc(100vh - (50px + 3rem));
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #1a1a1a
}

nav a {
  float: left;
  height: 25px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  line-height: 25px;
  font-size: 17px;
  text-decoration: none;
  color: black;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid white;
}

nav a.active {
  border-bottom: 1px solid black;
}

nav a.logo p {
  display: inline;
  height: 45px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  float: left;
}

nav a.logo {
  margin: 0px;
  margin-left: 5px;
  line-height: 50px;
  font-size: 30px;
  height: 45px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  float: left;
  width: auto;
  border: none;
  margin-right: 5%;
  transition: none;
}

nav a:hover {
  color: #3399FF;
  border-color: #3399FF;
  transition: 0.2s;
}

nav a.logo:hover {
  color: black;
}

nav div {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  float: right;
  position: relative;
  margin-right: 20px;
}

nav a.logo svg {
  width: 40px;
  height: 40px;
  margin: 5px;
  float: left;
}

nav input {
  height: 30px;
  width: 200px;
  border: none;
  outline: none;
  transition: all ease-in-out .2s;
  border:none;
  box-sizing: border-box;
  border: 0;
	border-bottom: 1px solid #ccc;
  font-size: 14px;
}

nav input~.focus-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	z-index: 99;
}
 
nav input~.focus-border:before,
nav input~.focus-border:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #3399FF;
	transition: 0.4s;
}
 
nav input~.focus-border:after {
	left: auto;
	right: 0;
}
 
nav input:focus~.focus-border:before,
nav input:focus~.focus-border:after {
	width: 50%;
	transition: 0.4s;
}

footer .center {
  margin: auto;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 3rem;
  color: white;
}

nav .icon {
  height: 15px;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
  float: right;
  margin-right: 5px;
}

table {
  border-spacing: 0px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.loader {
  border: 16px solid #d9d9d9;
  border-radius: 50%;
  border-top: 16px solid #3399FF;
  width: 70px;height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

.bars {
  display: none;
  height: 50px;
  width: 50px;
  float: right;
  margin: 0px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 850px) {
  nav a {
    float: none;
    display: inline-block;
    text-align: left;
  }
  nav a:not(:first-child) {display: none;}
  nav a.active {
    display: inline-block;
  }
  nav a.icon {
    display: inline-block;
  }
}

@media screen and (max-width: 580px) {
  #search {
    display: none;
  }
}