main {
  margin-top: 0px;
}

header {
  padding: 50px;
}

h1 {
  color: white;
  font-size: 70px;
  line-height: 100px;
  height: 100px;
  width: 500px;
  margin: auto;
  text-align: center;
  background-color: #212121;
  position: relative;
  display: block;
}

results {
  padding: 5%;
  width: 100vw;
}

results ul {
  list-style: none;
  width: calc(100vw - 5%);
}

results ul:nth-child(even) {
  background-color: #dddddd;
}

results a {
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.2s;
}

results a:hover {
  text-decoration: underline;
}

#results li a {
  font-size: 20px;
  margin: none;
  text-align: left;
}

results h2 {
  margin: auto;
  display: block;
  text-align: center;
}